<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TypeScript Quiz</title>
    <link rel="stylesheet" media="all" href="/assets/style.css" />
  </head>
  <body>
    <h1># TypeScript Quiz</h1>
    <button id="btn">TRY TypeScript Quiz</button>
    <hr />
    <form name="form" id="form">
      <p id="quiz"></p>
      <ul id="choices"></ul>
      <button id="post">Post Answer</button>
    </form>
    <hr />
    <p>成績：<span id="correctCount"></span>/<span id="tryCount"></span></p>
    <script type="text/javascript" src="/assets/script.js"></script>
  </body>
</html>
